{%- extends "layout.html" %}
{%- block content %}

<div class="list-group">
  {% for transaction in result | reverse %}
    <a href="/transaction/view/?session={{transaction.session}}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> ⏩ {{transaction.user}} から {{transaction.shop}} への送金</h5>
        <small class="text-muted">{{transaction.session}}</small>
      </div>
      <p class="mb-1">{{transaction.balance}} 円のトランザクションを確認しました。</p>
      <small class="text-muted">{{transaction.time}}</small>
    </a>
    {%- endfor %}
  </div>
{%- endblock %}