<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiSA Pay</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/headers.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">LiSA Pay</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">ホーム</a></li>
            <li class="nav-item"><a href="/transaction/pay" class="nav-link">支払い</a></li>
            <li class="nav-item"><a href="/" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="/" class="nav-link">LiSA Pay について</a></li>
          </ul>

          <div class="col-md-3 text-end">
            <input type=button onClick="location.href='/login'" class="btn btn-outline-primary me-2" value='ログイン'>
            <input type=button onClick="location.href='/users/me'" class="btn btn-info me-2" value='ユーザー情報'>
          </div>
        </header>
      </div>
      <div class="main">
          <h1>{{title}}</h1>
            {%- block content %}
            {% endblock %}

      </div>

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>