{%- extends "layout.html" %}
{%- block content %}
    <form method="post">
        <div class="mb-3">
          <label for="nameinput" class="form-label">ShopID</label>
          <input type="text" class="form-control" name="req_shop" value="u7ab4">
          <div id="nameHelp" class="form-text">あなたのログインIDを入力...</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">お支払金額</label>
          <input type="text" class="form-control" name="pay_balance" value="0">
        </div>
        <button type="submit" class="btn btn-success">決済する</button>
      </form>
{%- endblock %}